{:paths ["resources" "script"]
 :tasks {badges   {:doc  "Updates README badges with latest puzzle completion stats."
                   :task (shell "bb script/update_badges.clj")}
         clean    {:doc  "Clean all temp build files"
                   :task (shell "rm -rf .cpcache target")}
         dl       {:doc  "Download problem input for given year and day.
             e.g. bb dl 2021 7"
                   :task (shell "bb script/download_input.clj" *command-line-args*)}
         doc      {:doc  "Generate blog from source for input year"
                   :task (clojure "-M:doc" *command-line-args*)}
         lint     {:doc  "Run clj-kondo over all src/test."
                   :task (shell "clj-kondo --parallel --lint src:test")}
         outdated {:doc  "Find outdated library versions, and selectively upgrade."
                   :task (clojure "-M:outdated --upgrade")}
         test     {:doc  "Run test suite, skipping those with 'slow' metadata."
                   :task (clojure "-M:test --skip-meta :slow")}
         test-all {:doc  "Run all tests."
                   :task (clojure "-M:test")}}}
