{:paths ["resources" "script"]
 :tasks {badges   {:doc  "Updates README badges with latest puzzle completion stats."
                   :task (exec 'tasks/update-badges)}
         clean    {:doc  "Clean all temp build files"
                   :task (shell "rm -rf .cpcache target")}
         doc      {:doc  "Generate blog from source for input year"
                   :task (clojure "-M:doc" *command-line-args*)}
         download {:doc  "Download problem input for given year and day.
             e.g. bb download -y 2022 -d 7, defaults to today."
                   :task (exec 'tasks/download-input)}
         go       {:doc  "Macro to get a jump on today"
                   :depends [download template]
                   :task (exec 'tasks/open-browser)}
         lint     {:doc  "Run clj-kondo over all src/test."
                   :task (shell "clj-kondo --parallel --lint src:test")}
         outdated {:doc  "Find outdated library versions, and selectively upgrade."
                   :task (clojure "-M:outdated --upgrade")}
         template {:doc  "Create src & test templates for -y YYYY -d D"
                   :task (exec 'tasks/template-day)}
         test     {:doc  "Run test suite, skipping those with 'slow' metadata."
                   :task (clojure "-M:test --skip-meta :slow")}
         test-all {:doc  "Run all tests."
                   :task (clojure "-M:test")}}}
