{:deps {aysylu/loom                    {:mvn/version "1.0.2"}
        digest                         {:mvn/version "1.4.9"}
        org.clojure/clojure            {:mvn/version "1.10.1"}
        org.clojure/data.json          {:mvn/version "0.2.7"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        org.flatland/ordered           {:mvn/version "1.5.7"}
        medley                         {:mvn/version "1.2.0"}
        pandect                        {:mvn/version "0.6.1"}
        org.clojure/data.csv           {:mvn/version "0.1.4"}
        com.rpl/specter {:mvn/version "1.1.3"}}
 :paths ["src" "resources"]
 :aliases {:test      {:extra-paths ["test"]
                       :extra-deps  {lambdaisland/kaocha           {:mvn/version "0.0-529"}
                                     lambdaisland/kaocha-cloverage {:mvn/version "0.0-41"}
                                     org.clojure/test.check        {:mvn/version "RELEASE"}}
                       :main-opts   ["-m" "kaocha.runner"]}
           :outdated  {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                       :main-opts  ["-m" "depot.outdated.main" "-a" "outdated"]}
           :bench     {:extra-deps {criterium {:mvn/version "0.4.4"}}}
           :clj-kondo {:extra-deps {clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "clj-kondo.main"]}}}
