#kaocha/v1
{:tests [{:id :unit
          :source-paths ["src"]
          :test-paths ["test"]
          :ns-patterns ["-test$"]}]
 :plugins [:kaocha.plugin/print-invocations
           :kaocha.plugin/profiling]
 :capture-output? true
 :color? true
 :kaocha.plugin.profiling/count 10
 :kaocha.plugin.profiling/profiling? true
 :reporter kaocha.report/documentation}
